body {
  width: 50%;
  margin: 0 auto;
}

header {
  text-align: center;
}

header h1 {
  font-size: 100px;
  color: #000000;
  font-weight: 200;
  font-family: 'Courier New', Courier, monospace;
}

input {
  font-size: 20px;
  color: #1a89f8;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #2c3e50;
  padding: 5px;
}

.task {
  background-color: #88ef6e;
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 20px;
  cursor: pointer;
}

.task span {
  color: #ffffff;
}

.icon {
  float: right;
  margin-right: 20px;
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: #414141;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  margin-top: 15px;
}

.button.selected {
  color: #ffffff;
  background-color: #00a6ff;
}

.button.clear {
  float: right;
  color: #fff;
  background-color: #d54051;
  width: 170px;
}
